body{
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
}

h1{
	color: #66BFBF;
	font-size: 5.625rem;
	line-height:  2;
	margin: 50px auto 0 auto;
	font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
	font-family: 'Montserrat',sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
}

h3 {
    color: #11999E;
	font-family: 'Montserrat',sans-serif;
}


.top-container {
	background-color: #E4F9F5;
	position: relative;
	padding-top: 100px;
}

.middle-container {
}

.bottom-container {
font-family: 'Noto Sans', sans-serif;
}

.skill {
	width: 100%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}


.top-cloud {
	position: absolute;
	right: 300px;
	top: 50px;
}

.bottom-cloud {
	position: absolute;
	left: 300px;
	bottom: 300px;
}


.fav-img {
	width: 25%;
	float: left;
}

.skill-img {
	width: 25%;
	float: left;
}

.opface {
	width: 25%;
	float: left;
}

.intro {
  font-family: 'Noto Sans', sans-serif;
}

.favpast {
  font-family: 'Noto Sans', sans-serif;
}

.code-skill-descripton {
  font-family: 'Noto Sans', sans-serif;
}

.pop {
 font-family: 'Noto Sans', sans-serif;
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 24px 0;
  line-height: 2;
}

.wrapper {
  padding: 32px;
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

